<div class="container-fluid">
    <div class="row">
    	<div class="col-xs-12 cover-img" style="background-image:url('https://publicdomainq.net/images/201801/25s/publicdomainq-0018195xbz.jpg');">
    		<div class="cover-text text-right">
    			<p style="color: black; ">One <br> Place <br> Shopping</p>
    		</div>
    	</div>
    </div>
        
    <div>  
        <%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
            <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
            <%= form.submit "検索", class: "search-btn" %>
        <% end %>
    </div>