<div class="container-fluid">
    <div class="row">
    	<div class="col-xs-12 cover-img" style="background-image:url('https://publicdomainq.net/images/201801/25s/publicdomainq-0018195xbz.jpg');">
    		<div class="cover-text text-right">
    			<p style="color: black; ">One <br> Place <br> Shopping</p>
    		</div>
    	</div>
    </div>
    
    <h1>～ショッピングモール情報～</h1>
    <table class="table">
        <tr><td>ショッピングモール名</td><td><%= @results.name %></td></tr>
     　 <tr><td>住所</td><td><%= @results.address %></td></tr>
        <tr><td>駐車場</td><td><<%= @results.parking_area %></td></tr>
    </table>
</div>

    
