
<div class="container-fluid">
    <div class="row">
    	<div class="col-xs-12 cover-img" style="background-image:url('https://publicdomainq.net/images/201801/25s/publicdomainq-0018195xbz.jpg');">
    		<div class="cover-text text-right">
    			<p style="color: black; ">One <br> Place <br> Shopping</p>
    		</div>
    	</div>
    </div>
    	        
    <div class="wrapper">
        <aside class='select button'>
    	    <nav>
    	        <ul>
    	            <li><a href="">ログイン</a></li>
                    <li><a href="">検索ページ</a></li>
    	        </ul>
    	    </nav>
    	</aside>
    	<div class="explain">
    	    <div class='theme'>
    	        <h1><span style= "font-family:  'Mv Boli', serif;">One Place Shopping</span>とは</h1>
    	    </div>
    	    <div class="box17">
    	        <p>
    	           色んな店での買い物を一つのデパートやショッピングセンターで効率よく済ませたいと思ったことありませんか？<br>
    	           このアプリを使えば、あなたの行きたい店が一か所に集まっている商業施設がすぐに分かり、スムーズな買い物が実現！
    	                    
    	        </p>
    	    </div>
    	    <h2>～使い方～</h2>
    	    <div class="box17">
    	        <p>
    	         １．自分の行きたい店を複数個、リストの中に打ち込む。<br>２．検索ボタンを押す。<br>３．行きたい店が入った商業施設が表示される
    
    	        </p>
    	    </div>
        </div>
    </div>
    <div class="irrasuto">
        <img src="building.png",alt="ショッピングモール">
    </div>
</div>