.cover-img {
	height: 600px;
	display: table;
	width: 100%;
	background-size: cover;
}






.cover-text {
	font-size: 100px;
	font-family:  'Mv Boli', serif;
	/*display: table-cell;*/
	vertical-align: middle;
    text-align: center;
    margin-right: 50px;
}

h1 {
  font-size: 60px;
  text-align: center;
  padding-top: 10px;
}





/* Fonts */


/* fontawesome
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}*/

/* Simple Reset */
.form-wrapper { 
	margin: 0; padding: 0; box-sizing: border-box;
}

/* body */
.form-wrapper {
  background: #e9e9e9;
  color: #5e5e5e;
}

/* Form Layout */
.form-wrapper {
  background: #fafafa;
  margin: 3em auto;
  padding: 0 1em;
  max-width: 750px;
  font-family: cursive;
}

/*h1.form-wrapper {
  text-align: center;
  padding: 1em 0;
  font-size: 200px;
}*/

form {
  padding: 0 1.5em;
}

.form-item {
  margin-bottom: 0.75em;
  width: 100%;
}

.form-item input {
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
}

.form-item input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.button-panel {
  margin: 2em 0 0;
  width: 100%;
}

.button-panel .button {
  background: #f16272;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%;
}

.button:hover {
  background: #ee3e52;
}

.form-footer {
  font-size: 1em;
  padding: 2em 0;
  text-align: center;
}

.form-footer a {
  color: #8c8c8c;
  text-decoration: none;
  transition: border-color 0.3s;
}

.form-footer a:hover {
  border-bottom: 1px dotted #8c8c8c;
}