.cover-img {
	height: 600px;
	display: table;
	width: 100%;
	background-size: cover;
}






.cover-text {
	font-size: 100px;
	font-family:  'Mv Boli', serif;
	/*display: table-cell;*/
	vertical-align: middle;
    text-align: center;
    margin-right: 50px;
}

.wrapper {
	margin-top: 50px;
	height: 200px;
	
    display: flex;
    justify-content: space-between;
}

.select ul li {
	list-style: none;
	font-size: 25px;
    width: 180px;
    text-align: center;
}

.explain {
	font-size: 30px;
	width: 800px;
}

h1 {
	font-size: 60px;
}
a{
	color: #505050;
}
a:hover{
  color: white;
}

/*リストタグ*/
ul, ol {
  padding: 0;
}

.select_content li {
  position: relative;
  list-style-type: none!important;/*ポチ消す*/
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin-bottom: 20px;
  line-height: 1.0;
  background: #dcdcdc;
  vertical-align: middle;
  color: #505050;
  border-radius: 15px 0px 0px 15px;/*左側の角丸く*/
}

.select_content li:before{ 
  display:inline-block; 
  vertical-align: middle;
  /*以下白丸つくる*/
  content:'';
  width:0.5em;
  height: 0.5em;
  background: #fff;
  border-radius: 50%;
  margin-right: 8px;
}
/*本文*/
.box17{
    margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}
.box17:before, .box17:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.box17:before {left: 10px;}
.box17:after {right: 10px;}
.box17 p {
    margin: 0; 
    padding: 0;
}

h1:before {
	content: url('cart2.png');
}

h2 {
  font-size: 60px;
  text-align: center;
}
.irrasuto{
  text-align: right;
  margin-top: 750px;
  margin-right: 100px;
}

footer {
  width: 100%;
  height: 120px; 
  text-align: center;
  padding: 20px 0;
  background-color: #cab64a;
}